---
layout: default
---

<!--

{% if flag %}
    active
    {% assign flag = false %}
{% endif %}

AND THE DEV LOG STARTS FROM HERE -->

{% assign flag = true%}
<ul class="collapsible popout" data-collapsible="expandable">

{% for category in site.categories %}
  <li>
  <div class="collapsible-header
  active
   waves-effect waves-light white-text" style="background: #9055A2 !important">
    <i class="mega-octicon octicon-calendar"></i>
    <b>{{ category | first }} </b>
  </div>
  <div class="collapsible-body teal lighten-5">
    <table class="daywise-list-container">

    {% for posts in category %}
      {% for post in posts %}
      {% if post.content %}
      <tr>
          <td>
            {% assign dy = post.date | date: "%a" %}{% case dy %}{% when "Mon" %}Lundi{% when "Tue" %}Mardi{% when "Wed" %}Mercredi{% when "Thu" %}Jeudi{% when "Fri" %}Vendredi{% when "Sat" %}Samedi{% when "Sun" %}Dimanche{% else %}{{ dy }}{% endcase %} {% assign d = page.date | date: "%-d"  %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = page.date | date: "%-m" %}{% case m %}{% when '1' %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% endcase %} {{ page.date | date: '%Y' }}
            <li><b>{% if post.title %}{{ post.title }} {% endif %}</b></li>
            <li><b>{{ post.date | date: "%d %m" | date_to_french }}</b> {% if post.author %} par <b>{{ post.author }} {% endif %}</b></li>
          </td>
          <td>
                {{ post.content | remove: '<p>' | remove: '</p>' }}
          </td>
      </tr>
      {% endif %}
      {% endfor %}
    {% endfor %}
    </table>
    </div>
  </li>
{% endfor %}
</ul>
